/.venv
/build
dist
/.deps
/.github
/.mypy_cache
/.pytest_cache
/.ruff_cache
/.cache
/.DS_Store
vllm_env/
**/__pycache__/
vllm/*.so
vllm/vllm-rs

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.mypy_cache

# Distribution / packaging
.Python
/build/
cmake-build-*/
CMakeUserPresets.json
develop-eggs/
/dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
rust/target/
