{% set docker_image = "public.ecr.aws/q9t5s3a7/vllm-ci-test-repo:$BUILDKITE_COMMIT" %}
{% if branch == "main" %}
{% set docker_image = "public.ecr.aws/q9t5s3a7/vllm-ci-postmerge-repo:$BUILDKITE_COMMIT" %}
{% set docker_image_cu121 = "public.ecr.aws/q9t5s3a7/vllm-ci-postmerge-repo:$BUILDKITE_COMMIT-cu121" %}
{% set docker_image_cu118 = "public.ecr.aws/q9t5s3a7/vllm-ci-postmerge-repo:$BUILDKITE_COMMIT-cu118" %}
{% endif %}
{% set docker_image_amd = "rocm/vllm-ci:$BUILDKITE_COMMIT" %}
{% set default_working_dir = "/vllm-workspace/tests" %}
{% set hf_home = "/root/.cache/huggingface" %}
{% set list_file_diff = list_file_diff | split("|") %}

steps:
  - label: ":docker: build image"
    key: image-build
    depends_on: ~
    agents:
      {% if branch == "main" %}
      queue: cpu_queue_postmerge
      {% else %}
      queue: cpu_queue_premerge
      {% endif %}
    commands:
      - "aws ecr-public get-login-password --region us-east-1 | docker login --username AWS --password-stdin public.ecr.aws/q9t5s3a7"
      - |
        #!/bin/bash
        if [[ -z $(docker manifest inspect {{ docker_image }}) ]]; then
          echo "Image not found, proceeding with build..."
        else
          echo "Image found"
          exit 0
        fi
      - "docker build --build-arg max_jobs=16 --build-arg buildkite_commit=$BUILDKITE_COMMIT --build-arg USE_SCCACHE=1 --tag {{ docker_image }} --target test --progress plain ."
      - "docker push {{ docker_image }}"
    env:
      DOCKER_BUILDKIT: "1"
    retry:
      automatic:
        - exit_status: -1  # Agent was lost
          limit: 2
        - exit_status: -10  # Agent was lost
          limit: 2

  - block: Build CUDA 12.1 image
    key: block-build-cu121
    depends_on: ~

  - label: ":docker: build image CUDA 12.1"
    key: image-build-cu121
    depends_on: block-build-cu121
    agents:
      {% if branch == "main" %}
      queue: cpu_queue_postmerge
      {% else %}
      queue: cpu_queue_premerge
      {% endif %}
    commands:
      - "aws ecr-public get-login-password --region us-east-1 | docker login --username AWS --password-stdin public.ecr.aws/q9t5s3a7"
      - |
        #!/bin/bash
        if [[ -z $(docker manifest inspect {{ docker_image_cu121 }}) ]]; then
          echo "Image not found, proceeding with build..."
        else
          echo "Image found"
          exit 0
        fi
      - "docker build --build-arg max_jobs=16 --build-arg buildkite_commit=$BUILDKITE_COMMIT --build-arg USE_SCCACHE=1 --build-arg CUDA_VERSION=12.1.0 --tag {{ docker_image_cu121 }} --target test --progress plain ."
      - "docker push {{ docker_image_cu121 }}"
    env:
      DOCKER_BUILDKIT: "1"
    retry:
      automatic:
        - exit_status: -1  # Agent was lost
          limit: 2
        - exit_status: -10  # Agent was lost
          limit: 2
  
  - block: Build CUDA 11.8 image
    key: block-build-cu118
    depends_on: ~

  - label: ":docker: build image CUDA 11.8"
    key: image-build-cu118
    depends_on: block-build-cu118
    agents:
      {% if branch == "main" %}
      queue: cpu_queue_postmerge
      {% else %}
      queue: cpu_queue_premerge
      {% endif %}
    commands:
      - "aws ecr-public get-login-password --region us-east-1 | docker login --username AWS --password-stdin public.ecr.aws/q9t5s3a7"
      - |
        #!/bin/bash
        if [[ -z $(docker manifest inspect {{ docker_image_cu118 }}) ]]; then
          echo "Image not found, proceeding with build..."
        else
          echo "Image found"
          exit 0
        fi
      - "docker build --build-arg max_jobs=16 --build-arg buildkite_commit=$BUILDKITE_COMMIT --build-arg USE_SCCACHE=1 --build-arg CUDA_VERSION=11.8.0 --tag {{ docker_image_cu118 }} --target test --progress plain ."
      - "docker push {{ docker_image_cu118 }}"
    env:
      DOCKER_BUILDKIT: "1"
    retry:
      automatic:
        - exit_status: -1  # Agent was lost
          limit: 2
        - exit_status: -10  # Agent was lost
          limit: 2
  
  {% for step in steps %}
  {% if step.fast_check_only != true %}

  {% set ns = namespace(blocked=1) %}

  {% if run_all == "1" %}
  {% set ns.blocked = 0 %}
  {% endif %}

  {% if nightly == "1" %}
  {% set ns.blocked = 0 %}
  {% endif %}

  {% if step.source_file_dependencies %}
    {% for source_file in step.source_file_dependencies %}
      {% for file in list_file_diff %}
        {% if source_file in file %}
          {% set ns.blocked = 0 %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  {% else %}
    {% set ns.blocked = 0 %}
  {% endif %}

  {% if ns.blocked == 1 or (step.optional and nightly != "1") %}
  - block: "Run {{ step.label }}"
    depends_on: image-build
    key: block-{{ step.label | replace(" ", "-") | lower | replace("(", "") | replace(")", "") | replace("%", "") | replace(",", "-") }}
  {% endif %}

  - label: "{{ step.label }}"
    {% if ns.blocked == 1 or (step.optional and nightly != "1") %}
    depends_on: block-{{ step.label | replace(" ", "-") | lower | replace("(", "") | replace(")", "") | replace("%", "") | replace(",", "-") }}
    {% else %}
    depends_on: image-build
    {% endif %}
    agents:
      {% if step.label == "Documentation Build" %}
      queue: small_cpu_queue_premerge
      {% elif step.no_gpu %}
      queue: cpu_queue_premerge
      {% elif step.gpu == "a100" %}
      queue: a100_queue
      {% elif step.num_gpus == 2 or step.num_gpus == 4 %}
      queue: gpu_4_queue
      {% else %}
      queue: gpu_1_queue
      {% endif %}
    {% if step.num_nodes >= 2%} {# for multi-node test #}
    commands:
      - ./.buildkite/run-multi-node-test.sh {{ (step.working_dir or default_working_dir) | safe  }} {{ step.num_nodes }} {{ step.num_gpus }} {{ docker_image }} {% for command in step.commands %}"{{ (command | join(" && ")) | safe }}" {% endfor %}
    {% endif %}
    soft_fail: {{ step.soft_fail or false }}
    {% if step.parallelism %}
    parallelism: {{ step.parallelism }}
    {% endif %}
    retry:
      automatic:
        - exit_status: -1  # Agent was lost
          limit: 1
        - exit_status: -10  # Agent was lost
          limit: 1
    {% if step.num_nodes < 2 %}
    plugins:
      {% if step.gpu != "a100" %}
      - docker#v5.2.0: {# for GPU test #}
          image: {{ docker_image }}
          always-pull: true
          propagate-environment: true
          {% if not step.no_gpu %}
          gpus: all
          {% endif %}
          {% if step.label == "Benchmarks" %}
          mount-buildkite-agent: true
          {% endif %}
          command: ["bash", "-xc", "(command nvidia-smi || true) && export VLLM_LOGGING_LEVEL=DEBUG && export VLLM_ALLOW_DEPRECATED_BEAM_SEARCH=1 {% if step.label == "Core" %}&&  export VLLM_CI_USE_S3=1{% endif %} && cd {{ (step.working_dir or default_working_dir) | safe  }} && {{ step.command  or (step.commands | join(' && ')) | safe }}"]
          environment:
            - VLLM_USAGE_SOURCE=ci-test
            - HF_HOME={{ hf_home }}
            - HF_TOKEN
            {% if branch == "main" %}
            - BUILDKITE_ANALYTICS_TOKEN
            {% endif %}
            {% if step.label == "Speculative decoding tests" %}
            - VLLM_ATTENTION_BACKEND=XFORMERS
            {% endif %}
          volumes:
            - /dev/shm:/dev/shm
            - {{ hf_home }}:{{ hf_home }}
      {% else %} {# A100 is managed on EKS #}
      - kubernetes:
          podSpec:
            priorityClassName: ci
            containers:
            - image: {{ docker_image }}
              command:
                - bash -c '(command nvidia-smi || true) && export VLLM_LOGGING_LEVEL=DEBUG && export VLLM_ALLOW_DEPRECATED_BEAM_SEARCH=1 {% if step.label in ["Basic Correctness Test", "Basic Models Test", "Entrypoints Test", "Metrics, Tracing Test", "Async Engine, Inputs, Utils, Worker Test", "Samplers Test", "Engine Test"] %}&&  export VLLM_CI_USE_S3=1{% endif %} && cd {{ (step.working_dir or default_working_dir) | safe }} && {{ step.command or (step.commands | join(' && ')) | safe }}'
              resources:
                limits:
                  nvidia.com/gpu: {{ step.num_gpus or 1 }}
              volumeMounts:
              - name: devshm
                mountPath: /dev/shm
              - name: hf-cache
                mountPath: {{ hf_home }}
              env:
              - name: VLLM_USAGE_SOURCE
                value: ci-test
              - name: HF_HOME
                value: {{ hf_home }}
              - name: HF_TOKEN
                valueFrom:
                  secretKeyRef:
                    name: hf-token-secret
                    key: token
            nodeSelector:
              nvidia.com/gpu.product: NVIDIA-A100-SXM4-80GB
            volumes:
            - name: devshm
              emptyDir:
                medium: Memory
            - name: hf-cache
              hostPath:
                path: {{ hf_home }}
                type: Directory
      {% endif %}
    {% endif %}
  {% endif %}
  {% endfor %}

  - group: "AMD Tests"
    depends_on: ~
    steps:
      - label: "AMD: :docker: build image"
        depends_on: ~
        soft_fail: true
        commands:
          # Handle the introduction of test target in Dockerfile.rocm
          - "grep -i 'from base as test' Dockerfile.rocm && docker build --build-arg max_jobs=16 --tag {{ docker_image_amd }} -f Dockerfile.rocm --target test --progress plain . || docker build --build-arg max_jobs=16 --tag {{ docker_image_amd }} -f Dockerfile.rocm --progress plain ."
          - "docker push {{ docker_image_amd }}"
        key: "amd-build"
        env:
          DOCKER_BUILDKIT: "1"
        retry:
          automatic:
            - exit_status: -1  # Agent was lost
              limit: 1
            - exit_status: -10  # Agent was lost
              limit: 1
            - exit_status: 1  # Machine occasionally fail
              limit: 1
        agents:
          queue: amd-cpu

    {% for step in steps %}
    {% if step.mirror_hardwares and "amd" in step.mirror_hardwares %}
      - label: "AMD: {{ step.label }}"
        depends_on: amd-build
        agents:
         {% if step.amd_gpu_type and step.amd_gpu_type=="mi300"%}
           queue: amd_mi300
         {% else%}
           queue: amd_gpu
         {% endif%}
         
        command: bash .buildkite/run-amd-test.sh "(command rocm-smi || true) && export VLLM_LOGGING_LEVEL=DEBUG && export VLLM_ALLOW_DEPRECATED_BEAM_SEARCH=1 && cd {{ (step.working_dir or default_working_dir) | safe  }} ; {{ step.command  or (step.commands | join(" && ")) | safe }}"
        env:
          DOCKER_BUILDKIT: "1"
        priority: 100
        soft_fail: true
        
    {% endif %}
    {% endfor %}
    
  - label: "Neuron Test"
    depends_on: ~
    agents:
      queue: neuron
    command: bash .buildkite/run-neuron-test.sh
    soft_fail: true

  - block: "Run Intel CPU test"
    depends_on: ~
    key: block-intel-cpu
  
  - label: "Intel CPU Test"
    depends_on: block-intel-cpu
    soft_fail: true
    agents:
      queue: intel-cpu
    command: bash .buildkite/run-cpu-test.sh

  - label: "Intel HPU Test"
    depends_on: ~
    soft_fail: true
    agents:
      queue: intel-hpu
    command: bash .buildkite/run-hpu-test.sh

  - block: "Run Intel GPU test"
    depends_on: ~
    key: block-intel-gpu
  
  - label: "Intel GPU Test"
    soft_fail: true
    depends_on: block-intel-gpu
    agents:
      queue: intel-gpu
    command: bash .buildkite/run-xpu-test.sh

  - label: "IBM Power(ppc64le) CPU Test"
    depends_on: ~
    soft_fail: true
    agents:
      queue: ibm-ppc64le
    command: bash .buildkite/run-cpu-test-ppc64le.sh

  {% if nightly == "1" %}
  - label: "GH200 Test"
    depends_on: ~
    soft_fail: true
    agents:
      queue: gh200_queue
    command: nvidia-smi && bash .buildkite/run-gh200-test.sh
  {% endif %}

  - label: "TPU Test"
    depends_on: ~
    soft_fail: True
    agents:
      queue: tpu_queue
    commands: 
    - if [[ -f ".buildkite/run-tpu-test.sh" ]]; then bash .buildkite/run-tpu-test.sh; fi 
    - yes | docker system prune -a
