# Common dependencies
-r requirements-common.txt

# Dependencies for HPU code
ray
triton
pandas
tabulate
setuptools>=61
setuptools-scm>=8
vllm-hpu-extension @ git+https://github.com/HabanaAI/vllm-hpu-extension.git@070591a
neural-compressor @ git+https://github.com/intel/neural-compressor.git@b196432
