# Common dependencies
-r requirements-common.txt

# Dependencies for HPU code
ray
triton==3.1.0
pandas
tabulate
setuptools>=61
setuptools-scm>=8
vllm-hpu-extension @ git+https://github.com/HabanaAI/vllm-hpu-extension.git@deepseek_r1
neural_compressor_pt @ git+https://github.com/intel/neural-compressor.git@r1-woq