--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.5.1+cpu; platform_machine != "aarch64" and platform_system != "Darwin"
torch==2.5.1; platform_machine == "aarch64" or platform_system == "Darwin"
