# Common dependencies
-r requirements-common.txt

ray >= 2.9
cmake>=3.26
ninja
packaging
setuptools-scm>=8
setuptools>=75.8.0
wheel
jinja2
datasets

intel-extension-for-pytorch @ https://ubit-artifactory-ba.intel.com/artifactory/aipc_releases-ba-local/gpu-new/releases/2025.0/IPEX_2.6.10+xpu/RC1/py310/intel_extension_for_pytorch-2.6.10+xpu-cp310-cp310-linux_x86_64.whl
oneccl_bind_pt @ https://ubit-artifactory-ba.intel.com/artifactory/aipc_releases-ba-local/gpu-new/releases/2025.0/IPEX_2.6.10+xpu/RC1/py310/oneccl_bind_pt-2.6.0+xpu-cp310-cp310-linux_x86_64.whl

