# Common dependencies
-r requirements-common.txt

# Dependencies for NVIDIA GPUs
ray >= 2.9
nvidia-ml-py # for pynvml package
# torch == 2.3.1
# These must be updated alongside torch
# torchvision == 0.18.1   # Required for phi3v processor. See https://github.com/pytorch/vision?tab=readme-ov-file#installation for corresponding version
# xformers == 0.0.27  # Requires PyTorch 2.3.1
# vllm-flash-attn == 2.5.9.post1  # Requires PyTorch 2.3.1
