# Common dependencies
-r requirements-common.txt

-r requirements-torch-neuron.txt

# Dependencies for Neuron devices
--pre
--extra-index-url=https://pip.repos.neuron.amazonaws.com
transformers-neuronx >= 0.13.0
fastapi
ninja
tokenizers
pandas
pytest
