# Common dependencies
-r requirements-common.txt

# Dependencies for x86_64 CPUs
torch == 2.5.1+cpu; platform_machine != "ppc64le"
torchvision; platform_machine != "ppc64le"   # required for the image processor of phi3v, this must be updated alongside torch
