ninja  # For faster builds.
psutil
ray >= 2.5.1
pandas  # Required for Ray data.
pyarrow  # Required for Ray data.
sentencepiece  # Required for LLaMA tokenizer.
numpy
torch >= 2.1.1
transformers >= 4.36.0  # Required for Mixtral.
xformers >= 0.0.23  # Required for CUDA 12.1.
fastapi
uvicorn[standard]
pydantic == 1.10.13  # Required for OpenAI server.
aioprometheus[starlette]
cupy-cuda12x  # Required for CUDA graphs. CUDA 11.8 users should install cupy-cuda11x instead. # FIXME: Fix this in setup.py.
