# formatting
yapf==0.32.0
toml==0.10.2
tomli==2.0.1
ruff==0.1.5
codespell==2.2.6

# type checking
mypy==0.991
types-PyYAML
types-requests
types-setuptools

# testing
pytest
pytest-forked
pytest-asyncio
pytest-rerunfailures
httpx
einops # required for MPT
openai
requests
ray
