version: "3.9"

services:
  intel-speed-select:
    image: intel-speed-select:6.8
    build:
      context: .
      dockerfile: Dockerfile.sst
      args:
        KERNEL_TAG: v6.8
        http_proxy: ${http_proxy}
        https_proxy: ${https_proxy}
        no_proxy: ${no_proxy}

    privileged: true
    user: "0:0"
    tty: true
    stdin_open: true

    volumes:
      - /dev/cpu:/dev/cpu
      - /sys:/sys
      - "${PWD}/check_pct_status.sh:/workspace/check_pct_status.sh:ro"
      - "${PWD}/pct_map_and_set_clos.sh:/workspace/pct_map_and_set_clos.sh:ro"
      - "${PWD}/results:/workspace/benchmarks/results"


    environment:
      http_proxy: ${http_proxy}
      https_proxy: ${https_proxy}
      no_proxy: ${no_proxy}
    working_dir: /workspace
    entrypoint: []
    command: ["bash", "-lc", "id; bash /workspace/check_pct_status.sh"]
      #entrypoint: ["/bin/bash", "/workspace/pct_map_and_set_clos.sh"]
