{% set default_num_gpu = 1 %}
{% set docker_image = "us-central1-docker.pkg.dev/vllm-gcp/vllm-ci-test-repo-gcp/vllm:$BUILDKITE_COMMIT" %}

steps:
    -   label: Build
        agents:
            queue: cpu-gcp
        commands:
            - "docker build --build-arg max_jobs=16 --build-arg buildkite_commit=$BUILDKITE_COMMIT --tag {{ docker_image }} --target test --progress plain ."
            - "docker push {{ docker_image }}"
        env:
            DOCKER_BUILDKIT: "1"
