{% set docker_image = "public.ecr.aws/q9t5s3a7/vllm-ci-test-repo:$BUILDKITE_COMMIT" %}
{% set default_num_gpu = 1 %}
{% set default_working_dir = "/vllm-workspace/tests" %}

steps:
  - label: "Intel CPU Test"
    depends_on: ~
    agents:
      queue: cpu_queue
    command: bash .buildkite/run-cpu-test.sh

  {% for step in steps %}
  - label: "{{ step.label }}"
    agents:
      {% if step.no_gpu %}
      queue: cpu_queue
      {% else %}
      queue: gpu_{{ step.num_gpus or default_num_gpu }}_queue
      {% endif %}
    soft_fail: {{ step.soft_fail or false }}
    {% if step.parallelism %}
    parallelism: {{ step.parallelism }}
    {% endif %}
    retry:
      automatic:
        - exit_status: -1  # Agent was lost
          limit: 5
        - exit_status: -10  # Agent was lost
          limit: 5
    plugins:
      - docker#v5.2.0:
          image: "public.ecr.aws/q9t5s3a7/vllm-ci-test-repo:9597351df7f8d7f7be3c25da5ed9e3e1a2b1002d"
          always-pull: true
          propagate-environment: true
          gpus: all
          command: ["bash", "-c", "'cd {{ (step.working_dir or default_working_dir) | safe  }} && {{ step.command  or (step.commands | join(' && ')) | safe }}'"]
          environment:
            - VLLM_USAGE_SOURCE=ci-test
          volumes:
            - /dev/shm:/dev/shm
          {% if not step.no_gpu %}
          devices:
            - /dev/nvidiactl
            - /dev/nvidia0:/dev/nvidia0
            - /dev/nvidia1:/dev/nvidia1
          environment:
            - NVIDIA_VISIBLE_DEVICES={{ step.num_gpus or default_num_gpu }}
          {% endif %}
  {% endfor %}
