{% set docker_image = "public.ecr.aws/q9t5s3a7/vllm-ci-test-repo:614aa5120303ab09be78fb1db669da198cc43b02" %}
{% set default_working_dir = "/vllm-workspace/tests" %}
{% set hf_home = "~/.cache/huggingface" %}

steps:
  {% for step in steps %}
  {% if step.num_nodes >= 2 %}
  - label: Multinode test
    priority: 1000
    agents:
      queue: gpu_4_queue
    commands:
      - echo {{ step.commands }}
  {% endif %}
  {% endfor %}