{% set default_num_gpu = 1 %}
steps:
    -   label: Test
        agents:
            queue: kubernetes
        plugins:
            -   kubernetes:
                    podSpec:
                        volumes:
                            -   name: dshm
                                emptyDir:
                                    medium: Memory
                        containers:
                            -   image: alpine:3.12
                                command: ["bash"]
                                args:
                                - '-c'
                                - "'echo Hello World'"
                                resources:
                                    requests:
                                        nvidia.com/gpu: 1
                                    limits:
                                        nvidia.com/gpu: 1
    