{% set docker_image = "us-central1-docker.pkg.dev/vllm-405802/vllm-ci-test-repo/vllm-test:$BUILDKITE_COMMIT" %}
{% set gpu_request = 1 %}
{% set gpu_limit = 1 %}
{% set default_working_dir = "/vllm-workspace/tests" %}

steps:
  - label: ":docker: build image"
    commands:
      - "docker build --tag {{ docker_image }} --target test ."
      - "docker push {{ docker_image }}"
    env:
      DOCKER_BUILDKIT: "1"
  - wait

  {% for step in steps %}
  - label: "{{ step.label }}"
    agents:
      queue: kubernetes
    plugins:
      - kubernetes:
          podSpec:
            containers:
              - image: "{{ docker_image }}"
                command: ["bash"]
                args:
                - "-c"
                - "'cd {{ (step.working_dir or default_working_dir) | safe  }} && {{ step.command | safe }}'"
                resources:
                  requests:
                    nvidia.com/gpu: "{{ gpu_request }}"
                  limits:
                    nvidia.com/gpu: "{{ gpu_limit }}"
  {% endfor %}
