{% if messages is defined -%}
    {% set kimi_messages = messages -%}
{% elif conversation is defined -%}
    {% set kimi_messages = conversation -%}
{% elif conversations is defined and conversations -%}
    {% set kimi_messages = conversations[0] -%}
{% else -%}
    {% set kimi_messages = [] -%}
{% endif -%}
{% if kimi_messages and kimi_messages[0]['role'] == 'system' -%}
    {% set loop_messages = kimi_messages[1:] -%}
{% else -%}
    {% set loop_messages = kimi_messages -%}
{% endif -%}
{% for message in loop_messages -%}
    {% if message['role'] == 'user' -%}
        <|im_kimia_user_msg_start|>{{ message['content'] }}<|im_msg_end|><|im_kimia_assistant_msg_start|>
    {%- elif message['role'] == 'assistant' -%}
        {{ message['content'] }}<|im_kimia_text_eos|><|im_msg_end|>
    {%- endif -%}
{% endfor -%}
