{%- for message in messages %}
    {%- if message['role'] == 'user' %}
        {{- '<_user>' + message['content']|trim + '<_bot>' }}
    {%- elif message['role'] == 'system' %}
        {{- '<_system>' + message['content']|trim }}
    {%- elif message['role'] == 'assistant' %}
        {{- message['content'] }}
    {%- endif %}
{%- endfor %}