{{- bos_token }}
{%- set user_messages = messages | selectattr('role', 'equalto', 'user') | list %}
{%- for message in messages %}
    {%- if message['role'] == 'user' %}
        {%- if tools and (message == user_messages[-1]) %}
            {{- ' [AVAILABLE_TOOLS] [' }}
            {%- for tool in tools %}
		{%- set tool = tool.function %}
		{{- '{"type": "function", "function": {' }}
		{%- for key, val in tool|items if key != "return" %}
		    {%- if val is string %}
			{{- '"' + key + '": "' + val + '"' }}
		    {%- else %}
			{{- '"' + key + '": ' + val|tojson }}
		    {%- endif %}
		    {%- if not loop.last %}
			{{- ", " }}
		    {%- endif %}
		{%- endfor %}
		{{- "}}" }}
                {%- if not loop.last %}
                    {{- ", " }}
                {%- else %}
                    {{- "]" }}
                {%- endif %}
            {%- endfor %}
            {{- ' [/AVAILABLE_TOOLS]' }}
            {%- endif %}
        {{- ' [INST] ' + message['content'] + ' [/INST]' }}
    {%- elif message['role'] == 'assistant' %}
        {%- if message.tool_calls is defined and message.tool_calls|length > 0 %}
            {{- ' [TOOL_CALLS] [' }}
            {%- for tool_call in message.tool_calls %}
                {{- {"name": tool_call.function.name, "arguments": tool_call.function.arguments, "id": tool_call.id}|tojson }}
                {%- if not loop.last %}
                    {{- ", " }}
                {%- endif %}
            {%- endfor %}
            {{- '] ' }}
            {{- eos_token }}
    	{%- elif message.content is defined %}
	    {{- ' ' + message.content + ' ' + eos_token}}
        {%- endif %}
    {%- elif message['role'] == 'tool' %}
        {{- ' [TOOL_RESULTS] ' }}
        {{- '{"call_id": "' + message.tool_call_id + '", "content": ' + message.content|string + '}' }}
        {{- ' [/TOOL_RESULTS] ' }}
    {%- endif %}
{%- endfor %}
