
void {{ _name }}(torch::Tensor &out, torch::Tensor const &a,
                torch::Tensor const &b,
                std::string reduction_mode_,
                std::string decomposition_mode_,
                torch::Tensor const &a_scales,
                torch::Tensor const &b_scales);
