name: pre-commit

on:
  pull_request:
  push:
    branches: [main]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - uses: actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b # v5.3.0
      with:
        python-version: 3.12
    - run: echo "::add-matcher::.github/workflows/matchers/actionlint.json"
    - name: All hooks except mypy
      env:
        SKIP: mypy
      uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1
    - run: echo "::add-matcher::.github/workflows/matchers/mypy.json"
    - name: mypy (3.9)
      uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1
      with:
        extra_args: mypy --python-version 3.9 --all-files
    - name: mypy (3.10)
      uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1
      with:
        extra_args: mypy --python-version 3.10 --all-files
    - name: mypy (3.11)
      uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1
      with:
        extra_args: mypy --python-version 3.11 --all-files
    - name: mypy (3.12)
      uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1
      with:
        extra_args: mypy --python-version 3.12 --all-files